html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
header{
  background-color:#26d0c9;
  color:white;
  height:100px;
  font-style:#fff;
}
.header-logo{
  font-weight: 700;
  font-size:50px;
  float:center;
  /* font-size:35px;*/
  padding: 20px 20px 10px 350px; 
}
/* .header-list li{
  float:left;
  padding: 33px 20px;
} */

/* footer img {
  width: 125px;
}

footer p {
  
  color :#b3aeb5;
  font-size: 12px;
}

footer {
  background-color:#26d0c9;
  padding-top: 30px;
  padding-bottom: 20px;
} */
/* ////////////////////////////////// Change //////////////////////////////////////// */
.instructions {
  margin-bottom: 0px;
}

.instructions-list {
  list-style-type: circle;
  list-style: circle;
  padding-left: 30px;
}
/* change */
.statefinal{
  margin: 5px 5px 5px 100px;
}

.btn {
  margin-right: 5px;
}

.col-xs-nt,
.col-xs-pr {
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.col-xs-nt {
  float: left;
  min-width: 60px;
  width: 5.5%;
}

.col-xs-pr {
  float: left;
  min-width: 100px;
  width: 9%;
}

div.arrow,
div.or,
div.remove {
  display: inline-block;
  float: left;
  font-size: 20px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}

div.production-row {
  min-height: 34px;
  margin: 5px 17px;
  font-size: larger;
}

.main-part {
  text-align: center;
  align-items: center;
}

span.remove-button {
  margin-left: 5px;
}

span.remove-button:hover {
  background: #555555;
  border-radius: 10px;
  color: #aaaaaa;
  cursor: pointer;
}

div.new-production {
  margin-top: 10px;
  min-width: 480px;
}

#nfa {
  margin-top: 10px;
  padding: 10px 0px;
}

#current-nfa {
  margin-left: 15px;
}

.production-row input {
  max-width: 100px;
}

.footer {
  text-align: center;
}
